name: GitHub Metrics
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Generate GitHub metrics
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: satrajitghosh183
          template: classic
          base: header, activity, community, repositories
          config_timezone: America/New_York

          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year

          plugin_languages: yes
          plugin_languages_details: bytes-size, percentage
          plugin_languages_limit: 8
          plugin_languages_sections: most-used

          plugin_lines: yes

          plugin_achievements: yes
          plugin_achievements_threshold: B
          plugin_achievements_secrets: yes

          filename: github-metrics.svg
